.home-page {
    @apply text-textColor;

    label {
        @apply text-textColor font-[600];
    }

    .ant-form-item {
        @apply mb-0;
    }
}

.ant-layout:has(.home-page) {
    @screen md {
        height: 100%;
        min-height: 540px;
    }
}

.meter {
    box-sizing: content-box;
    height: 20px;
    /* Can be anything */
    position: relative;
    background: #555;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);

    >span {
        display: block;
        height: 100%;
        border-radius: 20px;
        background-color: #40a2e3;
        box-shadow:
            inset 0 2px 9px rgba(255, 255, 255, 0.3),
            inset 0 -2px 6px rgba(0, 0, 0, 0.4);
        position: relative;
        overflow: hidden;
    }

    >span:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(-45deg,
                rgba(255, 255, 255, 0.2) 25%,
                transparent 25%,
                transparent 50%,
                rgba(255, 255, 255, 0.2) 50%,
                rgba(255, 255, 255, 0.2) 75%,
                transparent 75%,
                transparent);
        z-index: 1;
        background-size: 50px 50px;
        animation: move 2s linear infinite;
        border-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        overflow: hidden;
    }
}

.example-item {
    @apply w-1/4 min-h-full relative cursor-pointer rounded-lg overflow-hidden;

    &:hover {
        @apply z-20;

        .example-item__img {
            @apply scale-150 rounded-lg;
        }

        .example-item__prompt {
            @apply opacity-100;
        }
    }

    &__img {
        @apply align-middle max-w-full h-full object-cover rounded-lg transition transition-all;
    }

    &__prompt {
        @apply absolute flex items-center top-0 px-8 text-center opacity-0 text-white h-full w-full bg-black/60 rounded-lg transition transition-all;
    }
}

@keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 50px;
    }
}